<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game | Player</title>

    <!--Link hacia el archivo game.css-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/game.css')}}">
</head>
    <body>
        <!--Título e instrucciones del juego-->
        <h1>BIENVENIDO A BLOCK JUMPER GAME !!</h1><br>
        <h3>Instrucciones</h3><br>
        <p>El juego se inicia automáticamente, por lo que debe estar atento para presionar la barra espaciadora 
            y saltar los obstaculos que se aproximen hacia la gema verde.
        </p>
        
        <!--Creación  de canvas con su identificador para colocar el estilo con css-->
        <canvas id="canvas"></canvas>
        
        <!--Pie de página con el enlace al archivo game.js-->
        <footer>Aplicación de Tecnologías Web &copy David Sangucho</footer>
        <script src="{{url_for('static', filename='js/game.js')}}"></script>
    </body>
</html>
